#AssessmentChatbotButton {
	position:fixed;
	bottom:80px;
	right:24px;
	font-weight:bold;
	z-index:10001;
}	
#AssessmentChatbotIEMessage {
	display:none;
	margin:50px 15px 15px 15px;
}
#AssessmentChatbotIframeContainer {
	position:fixed;
	bottom:20px;
	right:20px;
	width:326px;
  	height: calc(100% - 155px);
	border-radius:5px;
	z-index:10001;
}
#AssessmentChatbotIframeContainerButton {
	position:absolute;
	right:0;
    padding:5px 10px;	
    background:none;
    border:none;
}
#AssessmentChatbotIframeContainerButton span {
	color:#FFFFFF;
    font-size:0.75rem;
}


@media( max-width: 400px ) 
{ 
  #AssessmentChatbotIframeContainer {
    position:fixed !important;
    bottom:5px !important;
    right:5px !important;
    left:5px !important;

    width:auto;
  }
}


/* 
	taken from https://asmtocstest.calgary.ca/css/custom/ocs_layout.css
	they insisted on the red button
*/
.btn-custom-red {
  color: #FFFFFF; 
  background-color: #C8102E; 
  border: 1px solid #C8102e; 
  padding: 15px;
  width: 250px;
  border-radius: 5px;	
} 
 
.btn-custom-red:hover, 
.btn-custom-red:focus,
.btn-custom-red:active, 
.btn-custom-red.active, 
.open .dropdown-toggle.btn-custom-red { 
  color: #FFFFFF; 
  background-color: #B00A26; 
  border-color: #C8102E; 
} 

.btn-custom-red:focus {
    -webkit-box-shadow: 0px 0px 3px 3px #60bbfe;
    -moz-box-shadow: 0px 0px 3px 3px #60bbfe;
    box-shadow: 0px 0px 3px 3px #60bbfe;
    
    outline-style: none;
    outline: 2px solid #0394FF \9;
} 