[data-component="PDHeritageResource"] p.heritage-single{
  margin-bottom:10px;
}
[data-component="PDHeritageResource"] div.heritage-image{
  margin-bottom:20px;
}
[data-component="PDHeritageResource"] #dhcImagesDiv
{
  width:40%;
  float:right;
	
}
[data-component="PDHeritageResource"] div.heritage-image a{
  display: block;
  line-height: 0;
}
[data-component="PDHeritageResource"] div.heritage-image img{
  width:100%
}
[data-component="PDHeritageResource"] .heritage-image-caption{
  padding:10px;
  background:#f6f6f6;
}
[data-component="PDHeritageResource"] .print-details #testrightcol,
[data-component="PDHeritageResource"] .print-details #details-print{
  display:none !important;
}

[data-component="PDHeritageResource"] ul.dhcFields, 
[data-component="PDHeritageResource"] ul.dhcFields li
{ list-style-type: none; padding-left:0;  }

[data-component="PDHeritageResource"] p.pre
{
	white-space: pre;
}

[data-component="PDHeritageResource"] ul.unbulleted
{
	text-indent: 0;
	padding-left:0;
}

[data-component="PDHeritageResource"] ul.unbulleted li
{
	list-style: none;
}

div[data-component="PDHeritageResource"][data-status="pending"]
{
	opacity:0;
}