/* The Modal (background) */
#Traffic_Cam_Modal {

 position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  
  
}

/* Modal Content (image) */
#Traffic_Cam_Modal_Content {
  margin: 70px auto 10px;
  display: block;
  width: 80%;
  max-width: 700px;
  
  
  
}

/* Caption of Modal Image */
#Traffic_Cam_Modal_Caption  {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 5px 0;
  height: 150px;
}

/* Add Animation */

 #Traffic_Cam_Modal_Content , #Traffic_Cam_Modal_Caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
#Traffic_Cam_Modal_Close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#Traffic_Cam_Modal_Close:hover,
#Traffic_Cam_Modal_Close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  #Traffic_Cam_Modal_Content {
    width: 100%;
  }
}
.faqcontent {max-width: 640px;}

