div[data-component="PDHeritageSearch"] {
	margin-bottom:1em;
}

div[data-component="PDHeritageSearch"] #no-results, #error{
  display:none;
}

div[data-component="PDHeritageSearch"] #result-count,
div[data-component="PDHeritageSearch"] #pagination{
  height: 30px;
  width: 100%;
}

div[data-component="PDHeritageSearch"] #search-results tr td,
div[data-component="PDHeritageSearch"] #search-results tr th{
  font-size: 1em !important;
  font-weight:normal; 
}

div[data-component="PDHeritageSearch"] #pagination .page-numbers{
  margin: 0 0.1em;
	
}
div[data-component="PDHeritageSearch"] .heritage-input.form-control{
  margin-bottom:10px;
}

div[data-component="PDHeritageSearch"] .chk{
  margin-top:10px;
}

div[data-component="PDHeritageSearch"] .preload-spinner-container {
	display:none;
}

div[data-component="PDHeritageSearch"][data-status="loading"] .preload-spinner-container {
	display:block;
	margin:2em;
}

div[data-component="PDHeritageSearch"][data-status="loading"] .results_area {
	display:none;
}