.box{
        width:100px;  
        height:15px;
}

.box-mobile{
        width:400px;  
        height:20px;
}
 
.red{
        /* background: #ff9999; */
        background: #F4CCCC;
}
.green{
       /* background: #bbff99;  */
       background: #D9EAD3;
}
.yellow{
       /* background: #ffff99; */
       background: #fff2cc;
}

.grey{
       /* background: #ffff99; */
       background: #D3D3D3;
}


/* Tablet and bigger */
@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
     /*   padding: 0 15px;   original  */
        padding: 0 10px;

    }
}

.page-alertbox {
	border:1px solid #E0E0E0;
	border-left-width: 5px;
	border-left-color: #C8102E;
	border-left-style: solid;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
	
}
.page-alertbox p {
	margin: 0px !important;
	padding: 0px !important;
	
}


h1 { 
line-height: 1.4;
}


.live-mobile {
  position: fixed;
  right: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ffffff;   
  text-align: center;
  margin: auto;
}



.live-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ffffff;   
  text-align: center;
  margin: auto;
}


.live-speakers {
  position: fixed;  
  /* bottom: 0; */
  right: 75%;
  left: 0;
  top: 300px;
  padding: 1rem;
  /* background-color: #ffffff; */    
  text-align: center;
  margin: 0 auto;
}



.live-flex-container {
    display: -webkit-flex;
    display: flex;
    /* width: 420px;  */
    /*  background-color: white;  */
    margin: auto;
    align-content: center;    
}

input[name="escribefilter"]:focus + label {
  outline: 3px solid #65BDFE;
}

input[name="escribefilter"], input[name="escribefilter"] {

    opacity:0;
    filter:alpha(opacity=0);
    position:absolute
  }

label:hover {
  background-color: #EDEDEE;
}


input[name="escribefilter"] + label, input[name="escribefilter"]+ label {
    display:inline-block;
    margin:-2px;
    margin-top:10px;
    padding: 4px 12px;
    margin-bottom: 10px;
    font-size: 18px;   
    line-height: 20px;  
   
    text-align: center;
    font-weight:normal;   
    vertical-align: middle;
    cursor: pointer;
    background-image:hover {
    background-color: #c8102e;
  }  
  }


  input[name="escribefilter"]:checked + label, input[name="escribefilter"]:checked + label{
  
    margin-top:10px;
    cursor: pointer;
    
    border: 0px solid #000000;    
    border-top-color: #c8102e;
    font-weight: bold; 
    color:#c8102e;  /* selected font color default:; #c8102e */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#000000)); /* 

Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000000 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000000 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 100%); /* W3C */    /*  background select color  escribe black 

#4B4F55 */ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* 

IE6-9 */
}


iframe.public-service {
	min-height: 200px;
}
@media (min-width: 576px) {
	iframe.public-service {
		height: 500px;
	}
}
@media (min-width: 992px) {
	iframe.public-service {
		height: 800px;
	}
}
