@media print {
    body * {
        visibility: hidden;
    }

    .global-banner-container,
    .wordmarkpar,
    .global-inline-notification,
    .form-description,
    .text.parbase,
    .footer,
    .site-footer,
    .form-description * {
        display: none;
    }

    .coc-content-page-title,
    .coc-content-page-title *,
    .pd-fee-calculator,
    .calculator-init,
    .calculator-init *,
    .pdFormType,
    .pdFormType * {
        visibility: visible;
    }

    /*display flex cause firefox only print the first page*/
    body,
    .row {
        display: block;
    }

    .row::after,
    [class*="col-"]::after{
        content: "";
        display: table;
        clear: both;
    }

    [class*="col-"] {
        float: left;
    }

    .col-sm-1,
    .col-1 {
        width: 8.333333%;
    }

    .col-sm-2,
    .col-2 {
        width: 16.666667%;
    }

    .col-sm-3,
    .col-3 {
        width: 25%;
    }

    .col-sm-4,
    .col-4 {
        width: 33.333333%;
    }

    .col-sm-5,
    .col-5 {
        width: 41.666667%;
    }

    .col-sm-6,
    .col-6 {
        width: 50%;
    }

    .col-sm-7,
    .col-7 {
        width: 58.333333%;
    }

    .col-sm-8,
    .col-8 {
        width: 66.666667%;
    }

    .col-sm-9,
    .col-9 {
        width: 75%;
    }

    .col-sm-10,
    .col-10 {
        width: 83.333333%;
    }

    .col-sm-11,
    .col-11 {
        width: 91.666667%;
    }

    .col-sm-12,
    .col-12 {
        width: 100%;
    }

}